extends ../layout

block content
  h1= message
    
    h4 Some Summary Data... 
    span.avgkey Averages, 
    span.countkey Counts, 
    span.minmaxkey Min/Max Aggregates
    
    table
      tr
          td.countkey Total # of Complaints Registered with CFPB
          td.countvalue= countOfComplaints
      tr
          td.countkey Total # of Complaints with Valid Zip Codes
          td.countvalue= dataRows[0].countOfComplaints
      tr
          td.avgkey Average Population of Complaint Submitters
          td.avgvalue= dataRows[0].avgPop.toFixed(2)
      tr
          td.minmaxkey Minimum Median Income of Complaint Submitters 
          td.minmaxvalue= dataRows[0].minMedianInc
      tr
          td.minmaxkey Maximum Median Income of Complaint Submitters
          td.minmaxvalue= dataRows[0].maxMedianInc
      tr
          td.avgkey Average Poverty Levels of Complaint Submitters
          td.avgvalue= dataRows[0].avgPoverty.toFixed(2)

            
  br


 