body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

span {
	font-weight: bold; 
	font-size: 14pt;
}

td {

	font-weight: bold;
	padding: 10px;
	font-weight: bold;
	font-size: 22pt;
}

.countvalue {
	background-color: #800000;
	color: white; 
}

.countkey {

	color: #800000;
}

.avgkey {
    color: #440050;
}

.avgvalue {
	background-color: #440050;
	color: white;
}

.minmaxkey {
	color: #AA0050;
}

.minmaxvalue {
	background-color: #AA0050;
	color: white;
}

